* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.nav-bar {
    background-color: lightblue;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.nav-bar img, p {
    margin-left: 12px;
}

.nav-bar p {
    text-transform: capitalize;
    font-size: 18px;
}